# General
INSTALL.log

# FISH
fish/.config/fish/fish_variables

# TMUX
tmux/.config/tmux/plugins/*

# NEOVIM
neovim/.config/nvim/.luarc.json
neovim/.config/nvim/lazy-lock.json

# VIM
vim/.vim/.netrwhist

# GH
gh/.config/gh/hosts.yml

# FONTS
*.uuid
