# Where files from spell checking are stored.
spell/*

# Where files for custom settings/extensions are stored.
lua/custom/*.lua

# Used by the plugin manager to keep track of installed plugins.
lazy-lock.json
